body {
    background-color: rgb(56, 56, 56);
}

.title {
    text-align: center;
}

button {
    margin: 10px;
}

button a {
    text-decoration: none;
}

.content {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: column;
}

.downloads {
    display: flex;
    flex-direction: column;
}

.content button {
    transition: transform 0.5s;
    width: 70%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.content button:hover {
    transform: scale(1.2);
    /* Image Pops Out when user hovers over image */
}